.container{
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 60vw auto;
  gap:1rem;
  max-width: 80vw;
  margin: auto;
}

.drawingPreview{
  width: 100vw;
  height: 100vh;
}
.drawingPreviewScale{
  transform-origin: top left;
  transform: scale(0.6);
  width: 60vw;
  height: 60vh;
}

.link{
  color: var(--blue);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--green);
}
.button{
  background-color: var(--green);
  color: var(--white);
  padding: 0.6rem;
  border-radius: 3rem;
  width: 8rem;
  text-align: center;
  color: #0E1F33;
  transition: all 0.2s ease-out;
  background-color: #d9d9d9;
  text-transform: uppercase;
  font-family: "Geograph-SemiBold", sans-serif;
  cursor: pointer;
}
.button:hover {
  background-color: white;
}
.buttonEdit{
  background-color: var(--green);
  margin-top: -1.5rem;
  margin-bottom: -1rem;
}
.buttonEdit:hover {
  background-color: var(--green);
  filter: saturate(60%) brightness(120%);
}
.buttonDelete{
  margin-bottom: 2rem;
}


.title{
  text-align: center;
  margin: auto;
  font-size: 2rem;
  font-family: "Geograph-SemiBold", sans-serif;
  margin-top: 2rem;
}
.list {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(32vw, 1fr) );
  row-gap: 4rem;
  height: 100%;
  max-width: 70rem;
  margin: auto;
  place-items: center;
}

.list_element{
  width: 32vw;
  height: 32vh;
}




